In [1]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for i in range(10,20):
    print(i, end= " ")

10 11 12 13 14 15 16 17 18 19

In [4]:
lists = [10, 20, 14, 55, 43, 87, 76] 
print("Number of item in the List2:  ", len(lists))

Number of item in the List2:   7

In [7]:
name = "Artificial Intelligence"
for i in range(0,len(name)):
    print(name[i])

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [1]:
name = "Nithya"
age = 42
prof = "IT"
print("Your name-", name)
print("Your age-", age)
print("Your prof-", prof)

Your name- Nithya
Your age- 42
Your prof- IT

In [4]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [7]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'HOPE')
tup3 = (tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [9]:
numbers = [20,10,16,19,25,1,276,188]
for n in numbers:
    if(n%2!=0):
        print(n," is odd")

19  is odd
25  is odd
1  is odd

In [10]:
numbers = [20,10,16,19,25,1,276,188]
for n in numbers:
    if(n%2==0):
        print(n," is even")

20  is even
10  is even
16  is even
276  is even
188  is even