In [2]:
print("HOPE AI")

HOPE AI

In [3]:
inst_name = input("Enter your institute name? :")
print(inst_name)

Enter your institute name? : HOPE AI

HOPE AI

In [4]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school = input("Enter your school name: ")
degree = input("Enter your drgree: ")
print("Your name is ", name, "your age is ", age, "you stuied at ", school, "your degree is", degree)

Enter your name:  Nithya
Enter your age:  42
Enter your school name:  Nirmala
Enter your drgree:  MCA

Your name is  Nithya your age is  42 you stuied at  Nirmala your degree is MCA

In [7]:
a = 43
b = 34
print("a = ", a)
print("b = ", b)
print("add = ", a+b)

a =  43
b =  34
add =  77

In [8]:
a = 43
b = 34
print("a = ", a)
print("b = ", b)
print("Sub = ", a-b)

a =  43
b =  34
Sub =  9

In [9]:
a = 63
b = 97
print("a = ", a)
print("b = ", b)
print("Mul = ", a*b)

a =  63
b =  97
Mul =  6111

In [11]:
a = 76
b = 31
print("a = ", a)
print("b = ", b)
print("Float div = ", a/b)

a =  76
b =  31
Mul =  2.4516129032258065

In [17]:
a = 76
b = 31
print("a = ", a)
print("b = ", b)
print("Floor div = ", round(a/b))

a =  76
b =  31
div =  2

In [18]:
a = 76
b = 31
print("a = ", a)
print("b = ", b)
print("Modulo = ", a%b)

a =  76
b =  31
Modulo =  14

In [19]:
a = 4
b = 4
print("Power ", 4 ** 4)

Power  256